<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
<div class ='pane'>
	<div class='header'>
		<h1>{{ restaurant.name }}</h1>
	</div>

	<a href="{{ url_for('newMenuItem', restaurant_id=restaurant_id) }}">Create New Item</a>

<div class ='flash'>
		{% with messages = get_flashed_messages() %}
	{% if messages %}

	<ul>
		{% for message in messages %}
		<li> <strong> {{ message }} </strong> </li>
		{% endfor %}
	</ul>
		{% endif %}
	{% endwith %}	
</div>

{% for i in items %}

<div>
<!-- double brackets indicate the code that we want its' results printed into the html document-->
<p>{{i.name}}</p>

</div>
<!-- This is a method in python and you want the output printed on the HTML doc, you need double brackets -->
		<a href="{{ url_for('newRestaurant', restaurant_id = restaurant.id) }}">Create New Restaurant </a>
		<a href="{{ url_for('editRestaurant', restaurant_id = restaurant.id) }}">Edit Restaurant</a>
		<a href="{{ url_for('deleteRestaurant', restaurant_id = restaurant.id) }}">Delete Restaurant</a>
</br>
</br>
<!-- we need endfor or end if to end the loop-->
{% endfor %}
</body>
</html>